:root {
    --body-color: #60697b;
    --primary-color: #00539c;
    --primary-light: #fcf1e7;
    --secondary-color: #75a9d6;
    --font-color: #234969;
    --bg-color: #ffffff;
    --heading-color: #1f2044;
    --border-radius: 6px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #ddd;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-lightgrey: #f8f9fa;
    --btn-bg: #e2e8f0;
    --ggs: 1;
    --footer-bg: #343f52;
    --nav-color: #ffffff;
    --bg-dark: #262b32;
    --bg-light: #fefefe;
    --bg-gray: #f6f7f9;
    --bg-gradient-primary: linear-gradient(180deg,#f1f5fd,rgba(255,255,255,0) 100%);
    --link-dark: #343f52;
    --bg-soft-primary: #f1f5fd;
    --bg-card-title: #1da1f2;
    --bg-card-p: #000000;
  }
  
  [data-theme="dark"] {
    --body-color: #ffffff;
    --primary-color: #00539c;
    --primary-light: #7e4c45;
    --secondary-color: #75a9d6;
    --font-color: #b7b7b7;
    --bg-color: #121212;
    --heading-color: #eeeeee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.2);
    --iframe-filter: grayscale(100%);
    --bg-grey: #0b0d0e;
    --bg-lightgrey: #000;
    --btn-bg: #2a2a2a;
    --ggs: 1;
    --footer-bg: #121212;
    --nav-color: #eeeeee;
    --bg-dark: #121212;
    --bg-light: #404040;
    --bg-gray: #181818;
    --bg-gradient-primary: #181818;
    --link-dark: #1da1f2;
    --bg-soft-primary: #121212;
    --bg-card-title: #000000;
    --bg-card-p: #000000;
  }
  
  [data-theme="dark"] img {
    filter: brightness(0.8) contrast(1.2);
  }
  .fa-1-5-x {
    font-size: 1.5em;
}